<a href="https://colab.research.google.com/github/oluwadamiloju/intro-to-data-analytics/blob/main/practical_data_science_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = {
    'apples': [3, 2, 0, 1],
    'oranges': [0, 3, 7, 2]
}

In [3]:
purchases = pd.DataFrame(data)
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [4]:
movies_df = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")

In [5]:
movies_df.head()

                         Rank  ... Metascore
Title                          ...
Guardians of the Galaxy     1  ...        76
Prometheus                  2  ...        65
Split                       3  ...        62
Sing                        4  ...        59
Suicide Squad               5  ...        40

[5 rows x 11 columns]

In [7]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  1000 non-null   float64
 10  Metascore           1000 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 93.8+ KB

In [8]:
movies_df.shape

(1000, 11)

In [10]:
movies_df.rename(columns={
    'Runtime (Minutes)': 'Runtime',
    'Revenue (Millions)': 'Revenue_millions'
}, inplace=True)

In [11]:
movies_df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime',
       'Rating', 'Votes', 'Runtime_millions', 'Metascore'],
      dtype='object')

In [12]:
movies_df.rename(columns={
    'Runtime_millions': 'Revenue_millions'
}, inplace=True)

In [13]:
movies_df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime',
       'Rating', 'Votes', 'Revenue_millions', 'Metascore'],
      dtype='object')

In [14]:
for item in movies_df:
  print(item.upper())

RANK
GENRE
DESCRIPTION
DIRECTOR
ACTORS
YEAR
RUNTIME
RATING
VOTES
REVENUE_MILLIONS
METASCORE

In [15]:
movies_df.columns = [col.lower() for col in movies_df]
movies_df.columns

Index(['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime',
       'rating', 'votes', 'revenue_millions', 'metascore'],
      dtype='object')

In [27]:
import numpy as np
movies_df['revenue_millions'].replace(movies_df['revenue_millions'][3], np.nan, inplace = True)

In [28]:
movies_df.isnull().sum()

rank                0
genre               0
description         0
director            0
actors              0
year                0
runtime             0
rating              0
votes               0
revenue_millions    4
metascore           0
dtype: int64

In [18]:
revenue = movies_df['revenue_millions']

In [29]:
revenue_mean = revenue.mean()

In [30]:
revenue_mean

71.7569578313253

In [31]:
revenue.fillna(revenue_mean, inplace=True)

In [32]:
movies_df.isnull().sum()

rank                0
genre               0
description         0
director            0
actors              0
year                0
runtime             0
rating              0
votes               0
revenue_millions    0
metascore           0
dtype: int64